/*

    Name:       Paraíso
    Author:     Thomas Hansen, but inspired by Paraíso (Light) by Jan T. Sott (http://github.com/idleberg)

*/

.cm-s-paraiso.CodeMirror { background: #e7e9db; color: #be9428; }
.cm-s-paraiso div.CodeMirror-selected { background: #d9d6d0; }
.cm-s-paraiso .CodeMirror-line::selection, .cm-s-paraiso .CodeMirror-line > span::selection, .cm-s-paraiso .CodeMirror-line > span > span::selection { background: #d9d6d0; }
.cm-s-paraiso .CodeMirror-line::-moz-selection, .cm-s-paraiso .CodeMirror-line > span::-moz-selection, .cm-s-paraiso .CodeMirror-line > span > span::-moz-selection { background: #d9d6d0; }
.cm-s-paraiso .CodeMirror-gutters { background: #e7e9db; border-right: 0px; }
.cm-s-paraiso .CodeMirror-guttermarker { color: black; }
.cm-s-paraiso .CodeMirror-guttermarker-subtle { color: #8d8687; }
.cm-s-paraiso .CodeMirror-linenumber { color: #d7d9cb; }
.cm-s-paraiso .CodeMirror-cursor { border-left: 1px solid #776e71; }


/*
 * Used for both single line comments and multiline comments in Hyperlambda
 */
.cm-s-paraiso span.cm-comment { color: #b7b9ab; }

/*
 * Used for both single line strings and multiline strings in Hyperlambda
 */
.cm-s-paraiso span.cm-string { color: #cea438; }

/*
 * Used for values of nodes Hyperlambda, that are not necessarily string literals
 */
.cm-s-paraiso span.cm-property, .cm-s-paraiso span.cm-attribute { color: #5e5438; }

/*
 * Used for keywords in Hyperlambda, e.g. [while] and [if]
 */
.cm-s-paraiso span.cm-keyword { color: #ff0000; }

/*
 * Used for "variables" in Hyperlambda, e.g. [_foo]
 */
.cm-s-paraiso span.cm-variable { color: #36a69f; }

/*
 * Used for Active Events in Hyperlambda, e.g. [sys42.windows.show-lambda]
 */
.cm-s-paraiso span.cm-variable-2 { color: #06b6ef; }

/*
 * Used for type declarations in Hyperlambda, e.g. "_foo:int:54"
 */
.cm-s-paraiso span.cm-def { color: #9f3135; }

/*
 * Used for expressions in Hyperlambda, e.g. "/../0?value"
 */
.cm-s-paraiso span.cm-number { color: #df7175; }

/*
 * Used for syntactic Hyperlambda errors
 */
.cm-s-paraiso span.cm-error { background: rgba(255,0,0,.2); color: #776e71; }

/*
 * Active line
 */
.cm-s-paraiso .CodeMirror-activeline-background { background: #CFD1C4; }



/*
 * CodeMirror hint plugin CSS
 */
.CodeMirror-hints {
    border-radius:7px;
    border: solid 1px rgba(0,0,0,.3);
    background:#e7e9db;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.CodeMirror-hint {
    background-color: #e7e9db;
    max-width: 57em;
}

li.CodeMirror-hint-active {
    background: #a7a99b;
    color:Black;
}

/*
 * To ensure fullscreen mode in CodeMirror does not hide the menu,
 * or other controls are above it, we need to add this little "hack"
 */
.CodeMirror-fullscreen {
    margin-top:50px !important;
    z-index:1031 !important;
}

