<?xml version="1.0"?>

<configuration>

  <!--
       plugin assemblies that have active event handlers
       -->
  <configSections>
    <section name="activeEventAssemblies" type="phosphorus.applicationpool.code.ActiveEventAssemblies" />
  </configSections>
  <activeEventAssemblies assemblyDirectory="~/bin/">
    <assemblies>
      <add assembly="phosphorus.types" />
      <add assembly="phosphorus.lambda" />
      <add assembly="phosphorus.meta" />
      <add assembly="phosphorus.hyperlisp" />
      <add assembly="phosphorus.file" />
      <add assembly="phosphorus.data" />
      <add assembly="phosphorus.web" />
      <add assembly="phosphorus.web.ui" />
      <add assembly="phosphorus.html" />
      <add assembly="phosphorus.mongodb" />
      <add assembly="phosphorus.crypto" />
      <add assembly="phosphorus.threading" />
    </assemblies>
  </activeEventAssemblies>

  <!--
       app settings
       -->
  <appSettings>
    <!--
        The next setting, defines how many ViewState values will be stored in session for each session object.
        If your users are notified often that there was too many viewstate values for the current session, and 
        that their current ViewState key was invalidated, you might consider increasing this value. If you 
        increase it though, the amount of memory used for each session object in your application, will increase, 
        and hence the memory usage of your application, will increase
        -->
    <add key="viewstate-per-session-entries" value="5" />
    <add key="application-startup-file" value="system42/application-startup.hl" />
    <add key="database-path" value="database/" />
    <add key="database-nodes-per-file" value="32" />
    <add key="database-files-per-directory" value="256" />
    <add key="mongodb-connection-string" value="mongodb://localhost" />
    <add key="mongodb-database" value="phosphorus" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
      <add verb="*" path="*.hl" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

    <!--
         making sure we're using static IDs for controls and making sure 'pf' is prefix for phosphorus.ajax controls
         -->
    <pages clientIDMode="Static">
      <controls>

        <!--
             making it easy to include phosphorus.ajax controls in .aspx pages
             -->
        <add assembly="phosphorus.ajax" namespace="phosphorus.ajax.widgets" tagPrefix="pf" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>
