<?xml version="1.0"?>
<configuration>
  <!--
       Plugin assemblies that have Active Event handlers. These assemblies will be automatically loaded during
       startup of your application, and registered as Active Event handlers. This is only true for static 
       Active Events. If you have instance Active Event handlers in your own projects, you must somehow create
       those instances, and have them registered yourself for each ApplicationContext object in your application.
       -->
  <configSections>
    <section name="activeEventAssemblies" type="phosphorus.applicationpool.code.ActiveEventAssemblies" />
  </configSections>
  <activeEventAssemblies assemblyDirectory="~/bin/">
    <assemblies>
      <add assembly="phosphorus.types" />
      <add assembly="phosphorus.lambda" />
      <add assembly="phosphorus.meta" />
      <add assembly="phosphorus.hyperlisp" />
      <add assembly="phosphorus.file" />
      <add assembly="phosphorus.data" />
      <add assembly="phosphorus.net" />
      <add assembly="phosphorus.web.ui" />
      <add assembly="phosphorus.html" />
      <add assembly="phosphorus.mongodb" />
      <add assembly="phosphorus.crypto" />
      <add assembly="phosphorus.threading" />
    </assemblies>
  </activeEventAssemblies>
  <!--
       Application settings.
       -->
  <appSettings>
    <!--
        The next setting, defines how many ViewState values will be stored in session for each session object.
        If your users are notified often that there was too many viewstate values for the current session, and 
        that their current ViewState key was invalidated, you might consider increasing this value. If you 
        increase it though, the amount of memory used for each session object in your application, will increase, 
        and hence the memory usage of your application, will increase. A good number os probably between 5 and 10.
        If you set it to 0, then no ViewState will be stored in the session. This is a major security risk, due to
        the internals of Phosphorus.Five, and how it stores pf.lambda objects for Web Widgets in the ViewState.
        If you set it to -1, then the number of ViewState objects per session becomes infinite, which is also a major
        security risk, since then any session can easily use up all memory of your server, simply by pressing F5 many times.
        -->
    <add key="viewstate-per-session-entries" value="5" />
    <!--
        The next setting tells Phosphorus.Five which Hyperlisp file to execute during startup of your application.
        Normally this file should at the very least create one Active Event, needed as a hook, name [pf.web.create-ui].
        This Active Event is raised by Phosphorus.Five during the beginning of a HTTP request, and is expected to load
        the User Interface, or do other things, dependent upon which type of web-server you're setting up.
        -->
    <add key="application-startup-file" value="system42/application-startup.hl" />
    <!--
        The next three settings as for the [pf.data.xxx] namespace. See phoshorus.data documentation to understand how they work.
        -->
    <add key="database-path" value="database/" />
    <add key="database-nodes-per-file" value="32" />
    <add key="database-files-per-directory" value="256" />
    <!--
        The next settings are for your MongoDB installation. Please notice that the MongoDB drivers are not 100% stable in
        Phosphorus.Five, and is to be considered "work in progress".
        -->
    <add key="mongodb-connection-string" value="mongodb://localhost" />
    <add key="mongodb-database" value="phosphorus" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--
         making sure we're using static IDs for controls and making sure 'pf' is prefix for phosphorus.ajax controls
         -->
    <pages clientIDMode="Static">
      <controls>
        <!--
             making it easy to include phosphorus.ajax controls in .aspx pages
             -->
        <add assembly="phosphorus.ajax" namespace="phosphorus.ajax.widgets" tagPrefix="pf" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <!--
          Making sure we deny serving Hyperlisp files if user tries to access them.
          -->
      <add name="HyperlispDeny" verb="*" path="*.hl" type="System.Web.HttpForbiddenHandler" />
    </handlers>
  </system.webServer>
</configuration>