<?xml version="1.0"?>
<configuration>

  <!--
       plugin assemblies that have active event handlers
    -->
  <configSections>
    <section name="activeEventAssemblies" type="phosphorus.five.applicationpool.ActiveEventAssemblies"/>
  </configSections>
  <activeEventAssemblies assemblyDirectory="~/plugins/">
    <assemblies>
      <add assembly="phosphorus.hyperlisp.dll" />
    </assemblies>
  </activeEventAssemblies>


  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

    <!--
         making sure we're using static IDs for controls and making sure 'pf' is prefix for phosphorus.ajax controls
      -->
    <pages clientIDMode="Static">
      <controls>
        <add assembly="phosphorus.ajax" namespace="phosphorus.ajax.widgets" tagPrefix="pf" />
      </controls>
    </pages>

  </system.web>
</configuration>

