

.file-browser {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.file-object {
    width:80px;
    display:inline-block;
}

.folder,
.file {
    height:85px;
    padding-top:50px;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    overflow:hidden;
    text-overflow: ellipsis;
    border:dashed 1px rgba(0,0,0,.0);
    margin-right:10px;
}

.folder {
    background:transparent url(folder.png) no-repeat 15px 10px;
}

.file {
    background:transparent url(file.png) no-repeat 15px 10px;
}

.folder:hover,
.file:hover {
    background-color:rgba(220,220,255,0.5);
}

.active-file {
    border:dashed 1px rgba(0,0,0,.3);
    background-color:rgba(0,128,0,.1);
}

