

.file-browser {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bread-crumb input {
    cursor:pointer;
}

.folder,
.file {
    height:45px;
    padding-top:50px;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.folder {
    background:transparent url(folder.png) no-repeat 30px 10px;
}

.file {
    background:transparent url(file.png) no-repeat 30px 10px;
}

.folder:hover,
.file:hover {
    background-color:rgba(220,220,255,0.5);
}

.active-file {
    background-color:rgba(220,255,220,0.8);
}

.file-toolbar input {
    cursor:pointer;
}

.warning {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  background-color:rgba(255,0,0,.05);
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

input.yellow {
    background-color:Yellow;
}
