[submodule "core/p5.webapp/modules/hyper-ide"]
	path = core/p5.webapp/modules/hyper-ide
	url = https://github.com/polterguy/hyper-ide
[submodule "core/p5.webapp/modules/micro"]
	path = core/p5.webapp/modules/micro
	url = https://github.com/polterguy/micro
[submodule "core/p5.webapp/modules/hypereval"]
	path = core/p5.webapp/modules/hypereval
	url = https://github.com/polterguy/hypereval
[submodule "core/p5.webapp/modules/hyperbuild"]
	path = core/p5.webapp/modules/hyperbuild
	url = https://github.com/polterguy/hyperbuild
[submodule "core/p5.webapp/modules/magic-menu"]
	path = core/p5.webapp/modules/magic-menu
	url = https://github.com/polterguy/magic-menu
[submodule "core/p5.webapp/modules/peeples"]
	path = core/p5.webapp/modules/peeples
	url = https://github.com/polterguy/peeples
[submodule "core/p5.webapp/modules/pay2play"]
	path = core/p5.webapp/modules/pay2play
	url = https://github.com/polterguy/pay2play
[submodule "core/p5.webapp/modules/camphora-five"]
	path = core/p5.webapp/modules/camphora-five
	url = https://github.com/polterguy/camphora-five
[submodule "core/p5.webapp/modules/sephia-five"]
	path = core/p5.webapp/modules/sephia-five
	url = https://github.com/polterguy/sephia-five
[submodule "core/p5.webapp/modules/sulphur-five"]
	path = core/p5.webapp/modules/sulphur-five
	url = https://github.com/polterguy/sulphur-five
[submodule "core/p5.webapp/modules/hyper-core"]
	path = core/p5.webapp/modules/hyper-core
	url = https://github.com/polterguy/hyper-core
