<?xml version="1.0"?>
<configuration>
  <!--
       plugin assemblies that have active event handlers
    -->
  <configSections>
    <section name="activeEventAssemblies" type="phosphorus.five.applicationpool.ActiveEventAssemblies" />
  </configSections>
  <activeEventAssemblies assemblyDirectory="~/bin/">
    <assemblies>
      <add assembly="phosphorus.tiedown" />
      <add assembly="phosphorus.lambda" />
      <add assembly="phosphorus.hyperlisp" />
      <add assembly="phosphorus.file" />
      <add assembly="phosphorus.data" />
      <add assembly="phosphorus.web" />
      <add assembly="phosphorus.mongodb" />
      <add assembly="phosphorus.crypto" />
    </assemblies>
  </activeEventAssemblies>
  <appSettings>
    <add key="default-execution-language" value="hyperlisp" />
    <add key="application-startup-file" value="application-startup.hl" />
    <add key="database-path" value="database/" />
    <add key="database-nodes-per-file" value="32" />
    <add key="database-files-per-directory" value="256" />
    <add key="mongodb-connection-string" value="mongodb://localhost" />
    <add key="mongodb-database" value="phosphorus" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--
         making sure we're using static IDs for controls and making sure 'pf' is prefix for phosphorus.ajax controls
      -->
    <pages clientIDMode="Static">
      <controls>
        <add assembly="phosphorus.ajax" namespace="phosphorus.ajax.widgets" tagPrefix="pf" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>