<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
       Configuration section for Phosphorus Five
       -->
  <configSections>
    <section name="phosphorus" type="p5.core.configuration.PhosphorusConfiguration" />
  </configSections>

  <!--
      assemblyDirectory = Folder on disc where we can find Assemlbies to register as Active Event handlers. 
      Tilde (~) will be replaced by AppDomain root directory

      defaultContextUsername = Context user which to invoke Active Events on behalf, unless another user 
      is explicitly logged in

      defaultContextRole = Role which will be associated with defaultContextUsername user, unless another 
      user, with another role, is explicitly logged in

      passwordFile = Path to file on disc that will be used for usernames/passwords and roles. Tilde (~)
      will be replaced by AppDomain root directory

      loginCoolOffSeconds = Number of seconds that must pass from an unsuccessful login attempt, to the same
      IP address is allowed to try to login again
      -->
  <phosphorus 
    assemblyDirectory="~/bin/" 
    defaultContextUsername="guest" 
    defaultContextRole="guest" 
    authFile="~/_auth.hl" 
    loginCoolOffSeconds="30"
    persistCredentialCookieDays="90">

    <!--
        Assemblies that will be registered as Active Event handlers
        -->
    <assemblies>
      <add assembly="p5.types" />
      <add assembly="p5.lambda" />
      <add assembly="p5.hyperlisp" />
      <add assembly="p5.threading" />
      <add assembly="p5.io" />
      <add assembly="p5.data" />
      <add assembly="p5.net" />
      <add assembly="p5.web" />
      <add assembly="p5.html" />
      <add assembly="p5.math" />
      <add assembly="p5.crypto" />
      <add assembly="p5.security" />
    </assemblies>
  </phosphorus>
</configuration>
