<?xml version="1.0"?>
<configuration>
    <system.web>
    <httpHandlers>
        <add verb="*" path="*.*" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <!--
          Making sure we deny serving all files from this folder.
          -->
      <add name="DenyAll" verb="*" path="*.*" type="System.Web.HttpForbiddenHandler" />
    </handlers>
  </system.webServer>
</configuration>