h3 {
    margin:5px;
    margin-top:25px;
}

input[type=button] {
    width:80px;
}

#tests {
    border-collapse:collapse;
    width:100%;
}

#tests tr:nth-child(odd) {
    background-color:#fefefe;
}

#tests tr:nth-child(even) {
    background-color:#eaeaea;
}

#tests tr.spacer {
    background-color:#ffffff;
}

#tests tr th {
    text-align:left;
}

#tests tr td {
    padding:3px;
    margin:0;
}

#tests tr th:nth-child(2),
#tests tr td:nth-child(2) {
    text-align:right;
}

.failed {
    background-color:Red;
}

.success {
    background-color:LightGreen;
}

