

.file-browser {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.toolbar {
    position:fixed;
    right:0;
    margin-top:-40px;
}

.toolbar button:disabled {
    display:none;
}

.file-browser-content-surface {
    min-height:105px;
}

.file-object {
    width:80px;
    display:inline-block;
}

.folder,
.file {
    height:90px;
    padding-top:50px;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    overflow:hidden;
    text-overflow: ellipsis;
    border:dashed 1px rgba(0,0,0,.0);
    margin-right:10px;
}

.folder {
    background:transparent url(folder.png) no-repeat 16px 10px;
}

.file {
    background:transparent url(file.png) no-repeat 21px 10px;
}

.folder:hover,
.file:hover {
    background-color:rgba(220,220,255,0.5);
}

.active-file-object {
    border:dashed 1px rgba(0,0,0,.3);
    background-color:rgba(0,128,0,.1);
}

