/*
 * Phosphorus Five, copyright 2014 - 2016, Thomas Hansen, mr.gaia@gaiasoul.com
 * 
 * This file is part of Phosphorus Five.
 *
 * Phosphorus Five is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3, as published by
 * the Free Software Foundation.
 *
 *
 * Phosphorus Five is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Phosphorus Five.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * If you cannot for some reasons use the GPL license, Phosphorus
 * Five is also commercially available under Quid Pro Quo terms. Check 
 * out our website at http://gaiasoul.com for more details.
 */

html, body {
    font-family:'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-size:16px;
}

h1 {
    font-size:2em;
}

div.container {
    width:950px;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    margin-bottom:5em;
}

hr {
    margin-top:50px;
    margin-bottom:50px;
}

h3 {
    margin-top:45px;
}

.change-is-the-only-constant {
    background-color:LightBlue;
}

.turtles {
    background-color:Cyan;
}

