
/*
 * CSS for help files.
 */
.hyper-ide-help {
    position: relative;
}

.hyper-ide-help .CodeMirror {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hyper-ide-help-content {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}
.hyper-ide-help-content .CodeMirror {
    border: solid 1px rgba(0,0,0,.2);
    box-shadow: 3px 2px 5px rgba(0,0,0,.2);
    transition:box-shadow .2s ease-out;
}
.hyper-ide-help-content .CodeMirror:hover {
    box-shadow: 7px 7px 5px rgba(0,0,0,.5);
    transition:box-shadow .2s ease-out;
}
.hyper-ide-youtube-outer-wrapper {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.hyper-ide-youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    border-radius: 5px;
    overflow: hidden;
}
.hyper-ide-youtube-embed {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hyper-ide-help-image {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    border-radius: 5px;
}
.hyper-ide-evaluate-snippet-button {
    padding-left: 35px;
    padding-right: 35px;
    float: right;
    margin-top: -4.7rem;
    margin-bottom: 0;
    display: block;
    z-index: 999;
    position: relative;
    margin-right: .5rem;
}

