/*
 * CSS for help files.
 */
.desktop-help {
    position: relative;
}

.desktop-help .CodeMirror {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.desktop-help-icon-image {
    margin-left:1rem;
    float:right;
    max-width: 25%;
    width: 192px;
}

.desktop-help-content {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}

.desktop-help-external-link:after {
    font-family: 'icomoon' !important;
    content: "\ea7d";
    padding-left: 5px;
    font-size: .7rem;
    vertical-align: top;
}

.desktop-help-content .CodeMirror {
    border: solid 1px rgba(0,0,0,.2);
    box-shadow: 3px 2px 5px rgba(0,0,0,.2);
    transition: box-shadow .2s ease-out;
}

.desktop-help-content .CodeMirror:hover {
    box-shadow: 7px 7px 5px rgba(0,0,0,.5);
    transition: box-shadow .2s ease-out;
}

.desktop-help-youtube-outer-wrapper {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.desktop-help-youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    border-radius: 5px;
    overflow: hidden;
}

.desktop-help-youtube-embed {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.desktop-help-image {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    border-radius: 5px;
}

.desktop-help-evaluate-snippet-button {
    padding-left: 35px;
    padding-right: 35px;
    float: right;
    margin-top: -4.7rem;
    margin-bottom: 0;
    display: block;
    z-index: 999;
    position: relative;
    margin-right: .5rem;
}
