.bazar-app,.desktop-app {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #999;
    transition: transform .2s ease-out;
    padding-bottom: 1rem;
    outline: none;
    min-height: fit-content;
}
.bazar-app:active,.desktop-app:active,
.bazar-app:focus,.desktop-app:focus {
    color: #999;
}
.desktop-app {
    overflow: visible;
    position: relative;
    box-sizing: content-box;
    text-align: center;
}
.desktop-app-text {
    position: absolute;
    top: .25rem;
    left: 0;
    font-size: .7rem;
    font-weight: 400;
    color: var(--placeholder-color);
    width: calc(100% - 5px);
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.desktop-app-icon {
    margin-top: .75rem;
    display: block;
    font-size: 2rem;
    padding: 0;
}

.desktop-app:active, .desktop-app:focus, .desktop-app:hover {
    transform: rotate(7deg);
    transition: transform .2s ease-out;
}

.desktop-app:active:nth-child(2n+1),.desktop-app:focus:nth-child(2n+1),.desktop-app:hover:nth-child(2n+1) {
    transform: rotate(-7deg);
    transition:transform .2s ease-out;
}

@media screen and (min-width:500px) {
.desktop-app {
    width: 4rem;
}
.desktop-app-icon {
    font-size: 3rem;
}
}

@media screen and (min-width:800px) {
.desktop-app {
    width: 5rem;
}
.desktop-app-icon {
    font-size: 4rem;
}
}

.bazar-name {
    color: #a0a0a0;
    clear: both;
}

.bazar-app {
    width: 180px;
    height: 180px;
    position: relative;
}

.bazar-app-name {
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

.bazar-app-description {
    font-size: .8rem;
    display: block;
    text-align: left;
}

.bazar-app-price {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.bazar-leave {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 2rem;
    color: rgba(255,255,0,1);
}

.bazar-leave:active,.bazar-leave:focus,.bazar-leave:hover {
    color: #ff8000;
}

@keyframes bazar-ajax-wait {
0%,15% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.bazar-ajax-wait {
    display: block!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    animation-name: bazar-ajax-wait;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.bazar-ajax-wait h1 {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    color: #fdfdfd;
}
