.bazar-app,.desktop-app {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    background: linear-gradient(#fefefe,#e5e5e5);
    color:#888;
    transition:transform .2s ease-out;
}

body,form,html {
    min-height: 100%;
}

.container-fullscreen {
    min-height: 100%;
    overflow: auto;
}

.desktop-apps {
}

.desktop-app {
    overflow: visible;
    position: relative;
    width: 35px;
    box-sizing: content-box;
    text-align: center;
}

.desktop-app-name {
    font-size: 1rem;
    display: block;
    text-align: center;
}

.desktop-app-text {
    position:absolute;
    top:5px;
    left:0;
    font-size:.7rem;
    width:calc(100% - 5px);
    text-align:right;
}
.desktop-app-icon {
    margin-top: .3rem;
    display: block;
    font-size: 2rem;
    padding: 0;
}

.desktop-app:active, .desktop-app:focus, .desktop-app:hover {
    color: #c0c0fa;
    transform: rotate(7deg);
    transition: transform .2s ease-out;
    color: #888;
    outline:none;
}

.desktop-app:active:nth-child(2n+1),.desktop-app:focus:nth-child(2n+1),.desktop-app:hover:nth-child(2n+1) {
    transform: rotate(-7deg);
    transition:transform .2s ease-out;
}

@media screen and (min-width:500px) {
    .desktop-app {
        width: 55px;
    }

    .desktop-app-icon {
        font-size: 3rem;
        margin-top: .4rem;
    }
}

@media screen and (min-width:800px) {
    .desktop-app {
        width: 73px;
        margin-top: .5rem;
    }

    .desktop-app-icon {
        font-size: 4rem;
    }
}

.bazar-name {
    color: #a0a0a0;
    clear: both;
}

.bazar-app {
    width: 180px;
    height: 180px;
    position: relative;
}

.bazar-app-name {
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

.bazar-app-description {
    font-size: .8rem;
    display: block;
    text-align: left;
}

.bazar-app-price {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.bazar-leave {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 2rem;
    color: rgba(255,255,0,1);
}

.bazar-leave:active,.bazar-leave:focus,.bazar-leave:hover {
    color: #ff8000;
}

@keyframes bazar-ajax-wait {
    0%,15% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bazar-ajax-wait {
    display: block!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    animation-name: bazar-ajax-wait;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.bazar-ajax-wait h1 {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    color: #fdfdfd;
}