.desktop-app {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: transform .2s ease-out, background .2s ease-out;
    padding-bottom: 1rem;
    outline: none;
    min-height: fit-content;
    overflow: visible;
    position: relative;
    box-sizing: content-box;
    text-align: center;
}
.desktop-app-text {
    position: absolute;
    top: .25rem;
    left: 0;
    font-size: .7rem;
    font-weight: 400;
    width: calc(100% - 5px);
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.desktop-app-icon {
    margin-top: .75rem;
    display: block;
    padding: 0;
}
span.desktop-app-icon[class*="icon-"] {
    font-size: 2rem;
}
.desktop-app:active, .desktop-app:focus, .desktop-app:hover {
    transform: rotate(7deg);
    transition: transform .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
    color: var(--button-color);
}
.desktop-app:active:nth-child(2n+1), .desktop-app:focus:nth-child(2n+1), .desktop-app:hover:nth-child(2n+1) {
    transform: rotate(-7deg);
    transition: transform .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
}
@media screen and (min-width:500px) {
.desktop-app {
    width: 4rem;
}
span.desktop-app-icon[class*="icon-"] {
    font-size: 3rem;
}
}
@media screen and (min-width:800px) {
.desktop-app {
    width: 5rem;
}
span.desktop-app-icon[class*="icon-"] {
    font-size: 4rem;
}
}
