:root {
    --font-size: 22px;
    --background: #ffffff;
}
* {
    font-family: Arial;
}
h1 {
    display: block;
    margin-top: 40%;
    margin-bottom: 40%;
    text-align: center;
    font-size: 57px;
}
h1, h2 {
    page-break-before: always;
}
h1:first-child {
    page-break-before: inherit;
}
img {
    page-break-inside: avoid;
    display: block;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
p {
    text-align: justify;
}
code, pre {
    background: #f5f5f5;
    font-size: 14px;
}
.desktop-help-icon-image {
    margin-left:1rem;
    float:right;
    max-width: 25%;
    width: 192px;
}
