/*
 * Phosphorus Five, copyright 2014 - 2017, Thomas Hansen, thomas@gaiasoul.com
 * 
 * This file is part of Phosphorus Five.
 *
 * Phosphorus Five is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3, as published by
 * the Free Software Foundation.
 *
 *
 * Phosphorus Five is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Phosphorus Five.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * If you cannot for some reasons use the GPL license, Phosphorus
 * Five is also commercially available under Quid Pro Quo terms. Check 
 * out our website at http://gaiasoul.com for more details.
 */





/*
 * Styles for the default uploader widget.
 */
.uploader-widget {
    background-color:rgba(255,255,0,.2);
    background-image: url(bg.svg);
    position:relative;
    width:100%;
    height:120px;
    border-radius:10px;
    border:dashed 1px rgba(0,0,0,.7);
    opacity:1;
}


/*
 * Previewing of images.
 */
.uploader-widget .uploader-widget-preview {
    max-width:90px;
    max-height:90px;
    margin:15px;
    display:block;
    float:left;
}
.uploader-widget span.uploader-widget-preview {
    background-image:url(preview.png);
    background-repeat:no-repeat;
    background-size:contain;
    width:90px;
    height:90px;
}
@keyframes animation-uploader-preview {
    0% {
        opacity:1;
    }
    100% {
        opacity:.5;
    }
}
.uploader-widget .uploader-widget-preview:nth-child(2) {
    animation-name:animation-uploader-preview;
    animation-iteration-count:infinite;
    animation-duration:.5s;
    animation-direction:alternate-reverse;
}


/*
 * Animation for when an item is dragged over uploader, to give visual clues, about that this is an "active element".
 */
@keyframes animation-uploader-dragover {
    0% {
        background-color:rgba(255,255,0,0);
        opacity:1;
    }
    100% {
        background-color:rgba(255,255,0,.5);
        opacity:1;
    }
}


/*
 * Styles for the default uploader widget when a file is dragged over it.
 */
.uploader-widget-dragover {
    animation-name:animation-uploader-dragover;
    animation-iteration-count:infinite;
    animation-duration:.5s;
    animation-direction:alternate-reverse;
    opacity:1;
}


/*
 * Animation for when an item is dropped in uploader, to give visual clues, about that this is currently uploading.
 */
@keyframes animation-uploader-dropped {
    0% {
        background-color:rgba(0,255,0, 0);
        background-position-x:70px;
    }
    50% {
        background-color:rgba(0,255,0, .3);
    }
    100% {
        background-color:rgba(0,255,0, 0);
        background-position-x:0;
    }
}


/*
 * Styles for the default uploader widget when a file is dropped inside of it.
 */
.uploader-widget-drop {
    animation-name:animation-uploader-dropped;
    animation-iteration-count:infinite;
    animation-duration:1s;
    animation-direction:normal;
    animation-timing-function:linear;
    background-image: url(bg-uploading.svg);
    opacity:1;
    overflow-y:auto;
    min-height:120px;
    height:auto;
}


/*
 * Animation for when an item is dragged over uploader, to give visual clues, about that this is an "active element".
 */
@keyframes animation-uploader-error {
    0% {
        background-color:rgba(255,0,0, 1);
    }
    100% {
        background-color:rgba(255,255,0,0);
    }
}


/*
 * Styles for the default uploader widget when it is in an "error state" (wrong filetypes attempted to be uploaded, etc)
 */
.uploader-widget-error {
    animation-name:animation-uploader-error;
    animation-duration:1s;
    animation-fill-mode:forwards;
}


/*
 * Helper classes to further style uploader
 */
.uploader-footer {
    position:fixed;
    bottom:20px;
    left:20px;
    width:calc(100% -40px);
}
.uploader-faded {
    opacity:.2;
}
.uploader-large {
    height:300px;
}
.uploader-small {
    height:60px;
}
.uploader-full-screen {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
.uploader-fill-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

