/*
 * Phosphorus Five, copyright 2014 - 2017, Thomas Hansen, thomas@gaiasoul.com
 * 
 * This file is part of Phosphorus Five.
 *
 * Phosphorus Five is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3, as published by
 * the Free Software Foundation.
 *
 *
 * Phosphorus Five is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Phosphorus Five.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * If you cannot for some reasons use the GPL license, Phosphorus
 * Five is also commercially available under Quid Pro Quo terms. Check 
 * out our website at http://gaiasoul.com for more details.
 */





/*
 * First the styles for the main tab widget element.
 */
.tab-widget-default {
    width:100%;
    margin-bottom:25px;
}


/*
 * Then the styles for the tab header.
 */
.tab-widget-default > ul.tab-header {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    z-index:2;
}


/*
 * Then the styles for the tab header items.
 */
.tab-widget-default > ul.tab-header > li.tab-header-item {
    float:left;
    display:block;
    border:solid 1px #e0e0e0;
    border-radius:5px 5px 0 0;
    background-color:#f0f0f0;
    margin-right:5px;
    margin-bottom:0;
}


/*
 * Then the styles for the active tab header items.
 */
@keyframes animation-tab-header-phase-in {
    0% {
        background-color:rgba(255,255,0,1);
    }
    100% {
        background-color:rgba(255,255,255,1);
    }
}
.tab-widget-default > ul.tab-header > li.tab-header-active-item {
    border-bottom:none;
    animation-name:animation-tab-header-phase-in;
    animation-duration:.4s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
    border-bottom:solid 1px #ffffff;
    font-weight:bold;
}


/*
 * Then the styles for the tab header item's hyperlinks.
 */
.tab-widget-default > ul.tab-header > li.tab-header-item > a {
    display:block;
    text-decoration:none;
    padding:5px 15px 5px 15px;
}
.tab-widget-default > ul.tab-header > li.tab-header-active-item a {
    color:black;
}
.tab-widget-default > ul.tab-header > li.tab-header-item > a:hover {
    background-color:rgba(0,0,0,.1);
}
.tab-widget-default > ul.tab-header > li.tab-header-active-item > a:hover {
    background-color:rgba(0,0,0,0);
}


/*
 * Then the styles for the content widgets, first the main "wrapper" around all items.
 */
.tab-widget-default > div.tab-content-wrapper {
    border:solid 1px #e0e0e0;
    margin-top:-1px;
    border-radius:0 5px 0 0;
    z-index:1;
    position:relative;
}


/*
 * Then the individual content items
 */
.tab-widget-default > div.tab-content-wrapper > div.tab-content-item {
    padding:20px 20px 10px 20px;
    border-radius:0 5px 0 0;
}


