

/*
 * Main CSS file for our little "desktop" app.
 */
body, html {
    min-height: 100%;
}
body {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,1));
}
.container-fullscreen {
}
.desktop-app {
    width:150px;
    height:150px;
    float:left;
    margin-right:15px;
    margin-bottom:15px;
}
.desktop-app-name {
    font-size:1.2rem;
    display:block;
    text-align:center;
}
.desktop-logout {
    position:absolute;
    top:15px;
    right:25px;
    font-size:2rem;
    color:rgba(255,255,0,1);
    transition-property:transform, color;
    transition-duration:.2s;
    transition-timing-function:ease-in-out;
}
.desktop-logout:hover,
.desktop-logout:active,
.desktop-logout:focus {
    color:rgb(255,128,0);
    transform:rotate(25deg) scale(1.5);
    transition-property:transform,color;
    transition-duration:.2s;
    transition-timing-function:ease-in-out;
}
