

/*
 * Main CSS file for our little "desktop" app.
 */
body, html, form {
    height: 100%;
}
body {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,1));
}
.container-fullscreen {
    height:100%;
}
.desktop-app {
    width:150px;
    height:150px;
    float:left;
    margin-right:15px;
    margin-bottom:15px;
}
.desktop-app-name {
    font-size:1.2rem;
    display:block;
    text-align:center;
}
.desktop-logout {
    position:absolute;
    top:15px;
    right:25px;
    font-size:2rem;
    color:rgba(255,255,0,1);
    transition-property:transform, color;
    transition-duration:.2s;
    transition-timing-function:ease-in-out;
}
.desktop-logout:hover,
.desktop-logout:active,
.desktop-logout:focus {
    color:rgb(255,128,0);
    transform:rotate(25deg) scale(1.5);
    transition-property:transform,color;
    transition-duration:.2s;
    transition-timing-function:ease-in-out;
}


/*
 * Bazar styles.
 */
.bazar-wrapper {
}
.bazar-app {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    position:relative;
}
.bazar-app-name {
    font-size: 1.2rem;
    display: block;
    text-align: center;
}
.bazar-app-description {
    font-size: .8rem;
    display: block;
    text-align: left;
}
.bazar-app-price {
    font-size: .8rem;
    position:absolute;
    bottom:5px;
    right:5px;
}
.bazar-leave {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 2rem;
    color: rgba(255,255,0,1);
}
.bazar-leave:hover,
.bazar-leave:active,
.bazar-leave:focus {
    color: rgb(255,128,0);
}