


.icu-wrapper {
    position:relative;
    margin-top:25px;
}

.icu-pen-icon {
    position:absolute;
    top:10px;
    left:10px;
    font-size:30px;
    color:rgba(0,100,0,.5);
    text-shadow:3px 3px 5px rgba(0,0,0,.3);
    cursor:pointer;
    transition:color, text-shadow, transform;
    transition-duration:.5s;
    transform:scale(1);
}

.icu-pen-icon:hover {
    color:rgba(0,130,0,1);
    text-shadow:5px 5px 5px rgba(0,0,0,.5);
    transition:color, text-shadow, transform;
    transition-duration:.5s;
    transform:scale(1.5);
}

.icu-cog-icon {
    position:absolute;
    top:10px;
    right:10px;
    font-size:30px;
    color:rgba(0,100,0,.5);
    text-shadow:3px 3px 5px rgba(0,0,0,.3);
    cursor:pointer;
    transition:color, text-shadow, transform;
    transition-duration:.5s;
    transform:scale(1);
}

.icu-cog-icon:hover {
    color:rgba(0,130,0,1);
    text-shadow:5px 5px 5px rgba(0,0,0,.5);
    transition:color, text-shadow, transform;
    transition-duration:.5s;
    transform:scale(1.5);
}

@keyframes animate-settings {
    0% {
        transform:scale(0) rotate(360deg);
    }
    100% {
        transform:scale(1) rotate(0deg);
    }
}

.icu-settings-widget {
    position:absolute;
    top:45px;
    right:45px;
    background-color:rgba(252,252,252,1);
    box-shadow:5px 5px 5px rgba(0,0,0,.2);
    border:solid 1px rgba(0,0,0,.2);
    z-index:25;
    border-radius:8px;
    padding:25px;
    min-width:200px;
    min-height:200px;
    animation-name:animate-settings;
    animation-duration:.5s;
}

@keyframes animate-drop-from-top {
    0% {
        margin-top:-500px;
        box-shadow:0px 0px 15px rgba(255,255,0,.2);
        background-color:rgba(128,255,128,.1);
        opacity:.1;
        transform:rotate(-720deg);
    }
    50% {
        background-color:rgba(128,255,128,.3);
    }
    80% {
        margin-top:0px;
        box-shadow:0px 0px 15px rgba(255,255,0,.8);
        background-color:rgba(255,255,255,.3);
        opacity:1;
        transform:rotate(0deg);
    }
    100% {
        box-shadow:0px 0px 0px Transparent;
    }
}

.icu-keyboard,
.icu-keyboard-no-text {
    width:100%;
    border-spacing:5px;
    border-collapse:separate;
}

.icu-keyboard tr td a,
.icu-keyboard-no-text tr td a {
    display:block;
    padding-top:100%;
    color:rgba(0,0,0,.3) !important;
    border:solid 1px rgba(0,0,0,.1);
    border-radius:5px;
    background-color:rgb(255,255,255);
    position:relative;
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:none;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    max-width:75px;
    padding-left:5px;
    padding-right:5px;
}

.icu-keyboard-no-text tr td a {
    color:rgba(0,0,0,0) !important;
    padding-top:-webkit-calc(100% - 23px);
}

.icu-keyboard-animation tr:nth-child(odd) td:nth-child(odd) a:hover {
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:0px 0px 15px rgba(255,255,0,.8);
    transform:rotate(19deg);
}

.icu-keyboard-animation tr:nth-child(odd) td:nth-child(even) a:hover {
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:0px 0px 15px rgba(255,255,0,.8);
    transform:rotate(-19deg);
}

.icu-keyboard-animation tr:nth-child(even) td:nth-child(odd) a:hover {
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:0px 0px 15px rgba(255,255,0,.8);
    transform:rotate(-19deg);
}

.icu-keyboard-animation tr:nth-child(even) td:nth-child(even) a:hover {
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:0px 0px 15px rgba(255,255,0,.8);
    transform:rotate(19deg);
}

.icu-keyboard tr td a.icu-empty-cell,
.icu-keyboard-no-text tr td a.icu-empty-cell {
    background-image:url(/media/images/question-sign.png) !important;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:0px center;
}

.icu-keyboard-animation tr td a.icu-drop-from-sky {
    animation-name:animate-drop-from-top;
    animation-duration:1s;
    opacity:0;
}

.icu-keyboard tr td a.icu-active,
.icu-keyboard-no-text tr td a.icu-active {
    background-color:rgba(0,255,0,.2);
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(1) a {
    animation-delay:0s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(2) a {
    animation-delay:0.05s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(3) a {
    animation-delay:0.10s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(4) a {
    animation-delay:0.15s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(5) a {
    animation-delay:0.20s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(6) a {
    animation-delay:0.25s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(7) a {
    animation-delay:0.30s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(8) a {
    animation-delay:0.35s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(9) a {
    animation-delay:0.40s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(10) a {
    animation-delay:0.45s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(11) a {
    animation-delay:0.50s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(12) a {
    animation-delay:0.55s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(13) a {
    animation-delay:0.60s;
}

.icu-keyboard-animation tr:nth-child(1) td:nth-child(14) a {
    animation-delay:0.65s;
}



.icu-keyboard-animation tr:nth-child(2) td:nth-child(1) a {
    animation-delay:0.75s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(2) a {
    animation-delay:0.70s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(3) a {
    animation-delay:0.65s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(4) a {
    animation-delay:0.6s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(5) a {
    animation-delay:0.55s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(6) a {
    animation-delay:0.5s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(7) a {
    animation-delay:0.45s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(8) a {
    animation-delay:0.4s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(9) a {
    animation-delay:0.35s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(10) a {
    animation-delay:0.3s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(11) a {
    animation-delay:0.25s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(12) a {
    animation-delay:0.2s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(13) a {
    animation-delay:0.15s;
}

.icu-keyboard-animation tr:nth-child(2) td:nth-child(14) a {
    animation-delay:0.10s;
}




.icu-keyboard-animation tr:nth-child(3) td:nth-child(1) a {
    animation-delay:0.2s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(2) a {
    animation-delay:0.25s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(3) a {
    animation-delay:0.30s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(4) a {
    animation-delay:0.35s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(5) a {
    animation-delay:0.4s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(6) a {
    animation-delay:0.45s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(7) a {
    animation-delay:0.5s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(8) a {
    animation-delay:0.55s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(9) a {
    animation-delay:0.6s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(10) a {
    animation-delay:0.65s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(11) a {
    animation-delay:0.7s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(12) a {
    animation-delay:0.75s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(13) a {
    animation-delay:0.8s;
}

.icu-keyboard-animation tr:nth-child(3) td:nth-child(14) a {
    animation-delay:0.85s;
}

.icu-cell {
    background-size:contain;
    text-align:center;
    color:rgb(90,90,90) !important;
    font-size:smaller;
    padding-top:2px;
    background-repeat:no-repeat;
    background-color:Transparent;
}

.paper-sheet,
.paper-sheet-no-text {
    box-shadow:2px 2px 5px rgba(0,0,0,.5);
    background:Transparent url(../images/paper-texture.jpg) no-repeat top left;
    background-size:cover;
    padding:35px 15px 10px 32px;
    overflow:auto;
    min-height:165px;
}

.icu-create-board {
    padding:15px 0px;
    position:relative;
    overflow:auto;
}

#icu-flickr-result {
    overflow:auto;
}

.icu-flickr-result-item {
    float:left;
    margin:15px;
    transition:box-shadow,transform;
    transition-duration:.2s;
}

.icu-flickr-result-item:hover {
    transition:box-shadow,transform;
    transition-duration:.2s;
    box-shadow:5px 5px 5px rgba(0,0,0,1);
    transform:scale(1.2);
}

@keyframes icu-lightbox-picture-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.icu-lightbox-picture {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    z-index:5;
    text-align:center;
    animation:icu-lightbox-picture-fade-in .5s;
}

@keyframes icu-lightbox-picture-drop-down {
    from { opacity:0; transform:scale(0) rotate(-720deg); }
    to   { opacity:1; transform:scale(1) rotate(0deg); }
}

.icu-lightbox-picture>div {
    margin-top:25px;
    padding:15px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    max-width:60%;
    overflow:visible;
    box-shadow:15px 15px 15px rgba(0,0,0,1);
    background-color:rgba(255,255,255,.9);
    color:Black;
    border-radius:15px;
}

.icu-lightbox-picture>div.icu-lightbox-picture-modal-window {
    animation:icu-lightbox-picture-drop-down .5s;
}

.icu-lightbox-picture>div>img {
    max-width:80%;
}

.action-lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    z-index:5;
    animation:icu-lightbox-picture-fade-in .5s;
}

@keyframes action-modal-window-fade-in {
    from { opacity:0; transform:scale(0) rotate(-720deg); }
    to   { opacity:1; transform:scale(1) rotate(0deg); }
}

@keyframes action-modal-window-fade-out {
    from { opacity:0; transform:scale(1) rotate(0deg); }
    to   { opacity:1; transform:scale(0) rotate(-720deg); }
}

.action-modal-window {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:50%;
    border-radius:15px;
    background-color:White;
    margin-top:50px;
    animation:action-modal-window-fade-in .5s;
    padding:5px 25px;
}

.action-modal-window-fadeout {
    animation:action-modal-window-fade-out .5s;
}

.action-modal-window hr {
    color:rgba(0,0,0,.2);
    margin:0px -25px;
}

.icu-close-create-action {
    position:absolute;
    top:15px;
    right:18px;
    font-size:14px;
    color:#000;
    opacity:.2;
}

.icu-close-create-action:hover {
    opacity:.5;
}

.action-item-list {
    list-style:none;
    padding:5px 0px;
}

.action-item-list>li {
    margin:15px;
    font-weight:bold;
}

@keyframes animate-fade-in-word {
    0% {
        opacity:0;
        box-shadow:0px 0px 15px rgba(255,255,0,1);
        transform:scale(0);
    }
    80% {
        transform:scale(1.05);
    }
    100% {
        opacity:1;
        box-shadow:4px 4px 4px rgba(0,0,0,.4);
        transform:scale(1);
    }
}

.paper-sheet .icu-word {
    display:block;
    float:left;
    width:76px;
    height:95px;
    margin-right:10px;
    margin-bottom:25px;
    border:solid 1px rgba(0,0,0,.1);
    border-radius:5px;
    background-color:rgba(255,255,255,.5);
    animation:animate-fade-in-word .5s;
    box-shadow:4px 4px 4px rgba(0,0,0,.4);
}

.paper-sheet .icu-word p {
    text-align:center;
    color:rgb(80,80,80);
    font-size:smaller;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    max-width:75px;
    padding-left:5px;
    padding-right:5px;
}

.paper-sheet-no-text .icu-word {
    display:block;
    float:left;
    width:75px;
    height:75px;
    margin-right:10px;
    margin-bottom:25px;
    border:solid 1px rgba(0,0,0,.1);
    border-radius:5px;
    background-color:rgba(255,255,255,.5);
    animation:animate-fade-in-word .5s;
    box-shadow:4px 4px 4px rgba(0,0,0,.4);
}

.paper-sheet-no-text .icu-word p {
    display:none;
}

@keyframes animate-file-in-dropzone {
    from   { background-color:rgba(255,255,0,0); }
    to { background-color:rgba(255,255,0,.5); }
}

.icu-file-in-dropzone {
    border-radius:15px;
    animation-name:animate-file-in-dropzone;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes animate-file-uploading {
    from   { background-color:rgba(255,255,0,0); }
    to { background-color:rgba(255,255,0,.5); }
}

.icu-file-uploading {
    border-radius:15px;
    animation-name:animate-file-uploading;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.icu-image-search-previous {
    position:absolute;
    top:8px;
    left:15px;
    font-size:25px;
    color:rgba(0,0,0,.2);
}

.icu-image-search-next {
    position:absolute;
    top:8px;
    right:15px;
    font-size:25px;
    color:rgba(0,0,0,.2);
}


