

@keyframes animate-drop-from-top {
    0% {
        margin-top:-700px;
        box-shadow:0px 05px 5px rgba(0,255,0,.8);
        background-color:rgba(255,255,0,.3);
        opacity:.1;
    }
    50% {
        background-color:rgba(255,255,0,.5);
    }
    80% {
        background-color:rgba(0,255,0,.5);
        box-shadow:0px 0px 15px rgba(255,255,0,.8);
    }
    80% {
        margin-top:0px;
        background-color:rgba(255,255,255,1);
        opacity:1;
    }
    100% {
        box-shadow:0px 0px 0px Transparent;
    }
}

.icu-keyboard {
    width:100%;
    border-spacing:5px;
    border-collapse:separate;
}

.icu-keyboard tr td a {
    display:block;
    padding-bottom:100%;
    color:rgba(0,0,0,.1);
    border:solid 1px rgba(0,0,0,.1);
    border-radius:5px;
    background-color:rgb(255,255,255);
    position:relative;
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:none;
}

.icu-keyboard tr td:nth-child(odd) a:hover {
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:0px 0px 15px rgba(255,255,0,.8);
    transform:rotate(19deg);
}

.icu-keyboard tr td:nth-child(even) a:hover {
    transition:box-shadow, transform;
    transition-duration:.5s;
    box-shadow:0px 0px 15px rgba(255,255,0,.8);
    transform:rotate(-19deg);
}

.icu-keyboard tr td a.icu-empty-cell {
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100%' width='100%'><text x='30%' y='68%' fill='rgba(0,255,0,.1)' font-size='42' font-family='Verdana'>?</text></svg>") !important;
}

.icu-keyboard tr td a:hover.icu-empty-cell {
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100%' width='100%'><text x='30%' y='68%' fill='rgba(0,128,0,.5)' font-size='42' font-family='Verdana'>?</text></svg>") !important;
}

.icu-keyboard tr td a.icu-drop-from-sky {
    animation-name:animate-drop-from-top;
    animation-duration:1s;
    opacity:0;
}

.icu-keyboard tr td a.icu-active {
    background-color:rgba(0,255,0,.2);
}

.icu-keyboard tr:nth-child(1) td:nth-child(1) a {
    animation-delay:0s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(2) a {
    animation-delay:0.1s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(3) a {
    animation-delay:0.2s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(4) a {
    animation-delay:0.3s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(5) a {
    animation-delay:0.4s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(6) a {
    animation-delay:0.5s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(7) a {
    animation-delay:0.6s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(8) a {
    animation-delay:0.7s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(9) a {
    animation-delay:0.8s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(10) a {
    animation-delay:0.9s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(11) a {
    animation-delay:1s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(12) a {
    animation-delay:1.1s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(13) a {
    animation-delay:1.2s;
}

.icu-keyboard tr:nth-child(1) td:nth-child(14) a {
    animation-delay:1.3s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(1) a {
    animation-delay:1.4s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(2) a {
    animation-delay:1.5s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(3) a {
    animation-delay:1.6s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(4) a {
    animation-delay:1.7s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(5) a {
    animation-delay:1.8s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(6) a {
    animation-delay:1.9s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(7) a {
    animation-delay:2s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(8) a {
    animation-delay:2.1s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(9) a {
    animation-delay:2.2s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(10) a {
    animation-delay:2.3s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(11) a {
    animation-delay:2.4s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(12) a {
    animation-delay:2.5s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(13) a {
    animation-delay:2.6s;
}

.icu-keyboard tr:nth-child(2) td:nth-child(14) a {
    animation-delay:2.7s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(1) a {
    animation-delay:2.8s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(2) a {
    animation-delay:2.9s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(3) a {
    animation-delay:3s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(4) a {
    animation-delay:3.1s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(5) a {
    animation-delay:3.2s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(6) a {
    animation-delay:3.3s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(7) a {
    animation-delay:3.4s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(8) a {
    animation-delay:3.5s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(9) a {
    animation-delay:3.6s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(10) a {
    animation-delay:3.7s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(11) a {
    animation-delay:3.8s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(12) a {
    animation-delay:3.9s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(13) a {
    animation-delay:4s;
}

.icu-keyboard tr:nth-child(3) td:nth-child(14) a {
    animation-delay:4.1s;
}

.icu-cell {
    background-size:contain;
    text-align:center;
    color:rgb(90,90,90) !important;
    font-size:smaller;
    padding-top:2px;
    background-position:0px 18px;
    background-size:contain;
    background-repeat:no-repeat;
    background-color:Transparent;
}

.paper-sheet {
    box-shadow:2px 2px 5px rgba(0,0,0,.5);
    background:Transparent url(../images/rough_paper.jpg) no-repeat top left;
    background-size:cover;
    cursor:pointer;
    padding:35px 48px;
}

.icu-create-board {
    padding:25px;
    position:relative;
    overflow:auto;
}

#icu-flickr-result {
    overflow:auto;
}

.icu-flickr-result-item {
    float:left;
    margin:15px;
    transition:box-shadow,transform;
    transition-duration:.2s;
}

.icu-flickr-result-item:hover {
    transition:box-shadow,transform;
    transition-duration:.2s;
    box-shadow:5px 5px 5px rgba(0,0,0,1);
    transform:scale(1.2);
}

@keyframes icu-lightbox-picture-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.icu-lightbox-picture {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    z-index:5;
    text-align:center;
    animation:icu-lightbox-picture-fade-in .5s;
}

@keyframes icu-lightbox-picture-drop-down {
    from { opacity:0; transform:scale(0) rotate(-720deg); }
    to   { opacity:1; transform:scale(1) rotate(0deg); }
}

.icu-lightbox-picture>div {
    margin-top:25px;
    padding:15px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    max-width:60%;
    overflow:visible;
    box-shadow:15px 15px 15px rgba(0,0,0,1);
    background-color:rgba(255,255,255,.9);
    color:Black;
    border-radius:15px;
}

.icu-lightbox-picture>div.icu-lightbox-picture-modal-window {
    animation:icu-lightbox-picture-drop-down .5s;
}

.icu-lightbox-picture>div>img {
    max-width:80%;
}

.action-lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    z-index:5;
    animation:icu-lightbox-picture-fade-in .5s;
}

@keyframes action-modal-window-fade-in {
    from { opacity:0; transform:scale(0) rotate(-720deg); }
    to   { opacity:1; transform:scale(1) rotate(0deg); }
}

@keyframes action-modal-window-fade-out {
    from { opacity:0; transform:scale(1) rotate(0deg); }
    to   { opacity:1; transform:scale(0) rotate(-720deg); }
}

.action-modal-window {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:50%;
    border-radius:15px;
    background-color:White;
    margin-top:50px;
    animation:action-modal-window-fade-in .5s;
    padding:5px 25px;
}

.action-modal-window-fadeout {
    animation:action-modal-window-fade-out .5s;
}

.action-modal-window hr {
    color:rgba(0,0,0,.2);
    margin:0px -25px;
}

.icu-close-create-action {
    position:absolute;
    top:15px;
    right:18px;
    font-size:14px;
    color:#000;
    opacity:.2;
}

.icu-close-create-action:hover {
    opacity:.5;
}

.action-item-list {
    list-style:none;
    padding:5px 0px;
}

.action-item-list>li {
    margin:15px;
    font-weight:bold;
}

.icu-word {
    display:block;
    float:left;
    width:77px;
    height:95px;
    margin-right:10px;
    margin-bottom:25px;
    border:solid 1px rgba(0,0,0,.1);
    border-radius:5px;
    background-color:rgba(255,255,255,.5);
}

.icu-word p {
    text-align:center;
    color:rgb(80,80,80);
    font-size:smaller;
}


@keyframes animate-file-in-dropzone {
    from   { background-color:rgba(255,255,0,0); }
    to { background-color:rgba(255,255,0,.5); }
}

.icu-file-in-dropzone {
    border-radius:15px;
    animation-name:animate-file-in-dropzone;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes animate-file-uploading {
    from   { background-color:rgba(255,255,0,0); }
    to { background-color:rgba(255,255,0,.5); }
}

.icu-file-uploading {
    border-radius:15px;
    animation-name:animate-file-uploading;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

