

body {
  padding-top: 70px;
}

.navbar-icon-p5 {
    background:transparent url(../images/phosphorusfive-small-logo.png) no-repeat 10px 10px;
    width:40px;
}

.content-row {
    min-height:632px;
}

.prepend-top {
    margin-top:15px;
}

.prepend-bottom {
    margin-bottom:15px;
}

.show-lisp-dialogue {
    position:relative;
}

.p5-ck-editor {
    display:inline-block;
    width:100%;
}

