

body {
  padding-top: 70px;
}

.prepend-top {
  margin-top:15px;
}

.prepend-bottom {
  margin-bottom:15px;
}

.show-lisp-dialogue {
  position:relative;
}

.p5-ck-editor {
  display:inline-block;
  width:100%;
}

