

/*
 * To ensure body of document starts below navbar (menu)
 */
body {
  padding-top: 50px;
}

/*
 * Icon being URL to phosphorusfive.wordpress.com
 */
.navbar-icon-p5 {
    background:transparent url(../images/phosphorusfive-small-logo.png) no-repeat 10px 10px;
    width:40px;
}

/*
 * To ensure content is filling the whole screen, regardless of its size
 */
.content-row {
    min-height:632px;
}

/*
 * Helper to give some space before element begins
 */
.prepend-top {
    margin-top:15px;
}

/*
 * Helper to give some space after element is finished
 */
.prepend-bottom {
    margin-bottom:15px;
}


/*
 * Helper to give some space after element is finished
 */
.prepend-right {
    margin-right:30px;
}


.prepend-right-2 {
    margin-right:60px;
}


/*
 * Helper to give some space before element starts
 */
.prepend-left {
    margin-left:30px;
}


.prepend-left-2 {
    margin-left:60px;
}


/*
 * Info feedback popdown dialog animations, and CSS class
 */
@keyframes animate-info-feedback {
    0% {
        opacity:0;
        margin-top:-100px;
    }
    7% {
        opacity:1;
        margin-top:0;
    }
    80% {
        opacity:1;
        margin-top:0;
    }
    100% {
        opacity:0;
        margin-top:-100px;
    }
}

.info-feedback {
    background:#28211c;
    max-width:300px;
    position:fixed;
    top:50px;
    right:25px;
    color:#9d9b97;
    padding:5px 25px 0 25px;
    border-radius:0 0 15px 15px;
    z-index:1020;
    font-size:.8em;
    animation-name: animate-info-feedback;
    animation-duration: 3s;
    margin-top:-100px;
}

.info-feedback-more {
    animation-duration: 6s;
}


/*
 * Blink CSS class animations
 */
@keyframes animate-blink {
    0% {
        background:rgba(255,255,0,0);
    }
    20% {
        background:rgba(255,255,0,1);
    }
    100% {
        background:rgba(255,255,0,0);
    }
}

.blink {
    background:inherit;
    animation-name: animate-blink;
    animation-duration: .3s;
}

@keyframes animate-flash-from-right {
    0% {
        margin-left:-4000px;
    }
    100% {
        margin-left:0;
    }
}

.flash-from-right {
    animation-name:animate-flash-from-right;
    animation-duration:.5s;
    position:relative;
}

.input-group-addon {
    min-width:100px;
    text-align:left;
}

.error {
    background-color:rgba(255,0,0,.1);
}

.error-text {
    color:rgb(200,0,0);
    background-color:rgba(255,255,0,.1);
    padding:10px;
    border-radius:5px;
    border:dashed 1px black;
    font-weight:bold;
}

