

.bread-crumb input {
    border:none;
    border-right:solid 1px black;
    cursor:pointer;
}

.folder {
    background:transparent url(folder.png) no-repeat 30px 0;
    height:50px;
    padding-top:45px;
    text-align:center;
    cursor:pointer;
}

.file {
    background:transparent url(file.png) no-repeat 30px 0;
    height:50px;
    padding-top:45px;
    text-align:center;
    cursor:pointer;
}

.image-file {
    text-align:center;
    cursor:pointer;
    height:95px;
    margin-bottom:18px;
}

.image-file-image {
    height:41px;
    max-width:110px;
}
