

.bread-crumb input {
    border:none;
    border-right:solid 1px black;
    cursor:pointer;
}

.folder,
.file {
    height:45px;
    padding-top:50px;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.folder {
    background:transparent url(folder.png) no-repeat 30px 10px;
}

.file {
    background:transparent url(file.png) no-repeat 30px 10px;
}

.image-file {
    text-align:center;
    cursor:pointer;
    height:80px;
    margin-bottom:18px;
    padding-top:15px;
    border-radius:5px;
}

.image-file-image {
    height:41px;
    max-width:110px;
}

.folder:hover,
.file:hover,
.image-file:hover {
    background-color:rgba(220,255,220,0.5);
}
