
html, body {
    font-family:'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-size:16px;
}

h1 {
    font-size:2em;
}

div.container {
    width:950px;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    margin-bottom:5em;
}

hr {
    margin-top:50px;
    margin-bottom:50px;
}

h3 {
    margin-top:45px;
}

.change-is-the-only-constant {
    background-color:LightBlue;
}

.turtles {
    background-color:Cyan;
}

