.bazar-app {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    outline: none;
    min-height: fit-content;
    width: 14rem;
    height: 12rem;
    position: relative;
    font-weight:normal;
}

/* Bazar */
/* NOT FINISHED */
.bazar-name {
    clear: both;
}
.bazar-app-name {
    font-size: 1.2rem;
    display: block;
    text-align: left;
    margin-top:0;
}
.bazar-app-description {
    font-size: .8rem;
    display: block;
    text-align: left;
}
.bazar-app-price {
    position: absolute;
    bottom: 0;
    right: 15px;
}
.bazar-leave {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 2rem;
}

@keyframes bazar-ajax-wait {
0%,15% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.bazar-ajax-wait {
    display: block!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    animation-name: bazar-ajax-wait;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.bazar-ajax-wait h1 {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    color: #fdfdfd;
}
