<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
       Making sure configuration section for Phosphorus Five is recognized as such
      -->
  <configSections>
    <section name="phosphorus" type="p5.webapp.code.configuration.PhosphorusConfiguration" />
  </configSections>

  <!--
      assemblyDirectory =       Folder on disc where we can find Assemlbies to register as Active Event handlers.

      defaultContextUsername =  Context user which to invoke Active Events on behalf, unless another user 
                                is explicitly logged in

      defaultContextRole =      Role which will be associated with defaultContextUsername user, unless another 
                                user, with another role, is explicitly logged in

      authFile =                Path to file on disc that will be used for usernames/passwords and roles
      -->
  <phosphorus assemblyDirectory="/bin/" defaultContextUsername="guest" defaultContextRole="guest" authFile="/auth.hl">

    <!--
        Assemblies that will be loaded and registered as Active Event handlers

        If you create your own "plugin", you should add it to this list.

        Also, there are probably some of these plugins which you can safely remove, depending
        upon which features of P5 you are using.
        -->
    <assemblies>
      <!-- Core assemblies -->
      <add assembly="p5.config" />
      <add assembly="p5.data" />
      <add assembly="p5.events" />
      <add assembly="p5.hyperlambda" />
      <add assembly="p5.io" />
      <add assembly="p5.lambda" />
      <add assembly="p5.math" />
      <add assembly="p5.strings" />
      <add assembly="p5.types" />
      <add assembly="p5.web" />
      <!-- Extras assemblies -->
      <add assembly="p5.crypto" />
      <add assembly="p5.csv" />
      <add assembly="p5.flickrnet" />
      <add assembly="p5.html" />
      <add assembly="p5.imaging" />
      <add assembly="p5.io.authorization" />
      <add assembly="p5.http" />
      <add assembly="p5.auth" />
      <add assembly="p5.mysql" />
      <add assembly="p5.mime" />
      <add assembly="p5.mail" />
      <add assembly="p5.xml" />
      <add assembly="p5.threading" />
      <add assembly="p5.io.zip" />
      <add assembly="p5.markdown" />
      <add assembly="p5.json" />
    </assemblies>
  </phosphorus>

  <!--
      Global application settings.
      Notice, config settings starting with a ".", are in general terms not accessible from p5.lambda directly. Which means they
      can only be retrieved from C# active events, and only if the invoker invokes the [.p5.config.get] with a period
      in front of its name!

	  The above feature, allows you to create configuration settings, which cannot be read from Hyperlambda.
      -->
  <appSettings>

    <!--
        The next setting, defines how many maximum ViewState values will be stored in session for each session object.
        If your users are notified often that there was too many viewstate values for the current session, and 
        that their current ViewState key was invalidated, you might consider increasing this value. If you 
        increase it though, the amount of memory used for each session object in your application, will increase, 
        and hence the memory usage of your application will increase. A good number is probably between 5 and 10.

        If you set it to 0, then no ViewState will be stored in the session. This is a major security risk, due to
        the internals of Phosphorus Five, and how it stores p5 lambda objects for Web Widgets in the ViewState.
        If you set it to -1, then the number of ViewState objects per session becomes infinite, which is also a major
        security risk, since then any session can easily use up all memory of your server, simply by pressing reloading
        the page, thousands of times, exhausting your server's memory.
        -->
    <add key=".p5.webapp.viewstate-per-session-entries" value="5" />

    <!--
        The next setting tells Phosphorus Five which Hyperlambda file to execute during startup of your application.
        Normally this file should at the very least create one Active Event, needed as a hook, name [p5.web.load-ui].

        This Active Event is raised by Phosphorus Five during the beginning of a HTTP request, and is expected to load
        the User Interface, or do other things, dependent upon what you want it to do.

		The event will be given a [url] argument, which for the root URL will be "/".
      
		If you want to only use Phosphorus Five, as a full stack development framework yourself, feel free to override
		this, and create your own "loader logic".
      
		The default loader logic, provided out of the box with Phosphorus Five, will load a simple "desktop", which
		is basically a "micro web operating system".

		This desktop, is dependent upon Micro, which P5 will automatically download, after having brought you through
		setting up your server salt, and root password - For then to show all your installed applications, in addition to
		allowing you to automatically download and install, applications from our internal Bazar.
        -->
    <add key=".p5.webapp.application-startup-file" value="/startup.hl" />

    <!--
        The next three settings as for the p5.data project.
        See p5.data documentation to understand how they work.
        -->
    <add key=".p5.data.path" value="/db/" />
    <add key=".p5.data.nodes-per-file" value="32" />
    <add key=".p5.data.files-per-folder" value="256" />

    <!--
        How many days the credential cookie is valid in system
        -->
    <add key="p5.auth.credential-cookie-valid" value="90" />

    <!--
        Default app you want to start during page load.
		The default app here is the "desktop" application, which simply shows you all of your installed
		modules, and allows you to start them by clicking their icon.
        -->
    <add key="p5.core.default-app" value="/modules/desktop/launch.hl" />

    <!--
        Whether or not users are allowed to add new Bazars to their installation.
        -->
    <add key="bazar.allow-users-adding-bazar" value="true" />

    <!--
        Here you can set a static salt, which is not possible to read from Hyperlambda, and/or in any ways
		accessible for your users, unless they have physical access to your system.
      
		Depending upon your "paranoia level", you might want to physically change this, to further add to the
		entropy of your system.
        -->
    <add key=".p5.crypto.salt" value="$41t-goes-here-4U" />
  </appSettings>
  <connectionStrings>
    <add name="MYSQL_GENERIC_CONNECTION_STRING" connectionString="server=localhost;User Id=root;charset=utf8mb4;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>

    <!--
        Making sure we're using static IDs for controls,
        and making sure 'p5' is prefix for p5.ajax controls.
        Notice, p5.ajax is not dependent upon "AutoID" or "Predictable", which
        means the IDs for p5.ajax, are all cozy, warm and fuzzy!
        -->
    <pages clientIDMode="Static">
      <controls>
        <add assembly="p5.ajax" namespace="p5.ajax.widgets" tagPrefix="p5" />
      </controls>
    </pages>

    <!--
        Hint!
        Authorization and Authentication is anyways done internally 
        within Phosphorus Five's "p5.auth" plugin.
        -->
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>

    <!--
        Making sure all Hyperlambda files are NOT SERVED by default!
        -->
    <httpHandlers>
      <add verb="*" path="*.hl" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>

    <!--
        Other system configuration settings
        -->
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies />
    </compilation>
    <customErrors mode="RemoteOnly" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

    <!--  Some parts of P5 requires extremely long operations, such as generating a new RSA/PGP key with strength 4096 and above.

		  Hence, to avoid thread abort on such operations, we need to set the timeout to this (ridiculous) large number!
		  If you don't use these features, or you are using them in a spawned thread, feel free to reduce the "executionTimeout" number.
		  -->
    <httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="2000000000" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>

      <!--
          Making sure we deny serving Hyperlambda files by default.

          This "redundant" setting is necessary to support both Mono and XSP4, in addition 
          to IIS and .Net.
          -->
      <add name="HyperlispDeny" verb="*" path="*.hl" type="System.Web.HttpForbiddenHandler" />
    </handlers>
  </system.webServer>
</configuration>