/*
 * Phosphorus Five, copyright 2014 - 2016, Thomas Hansen, mr.gaia@gaiasoul.com
 * 
 * This file is part of Phosphorus Five.
 *
 * Phosphorus Five is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3, as published by
 * the Free Software Foundation.
 *
 *
 * Phosphorus Five is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Phosphorus Five.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * If you cannot for some reasons use the GPL license, Phosphorus
 * Five is also commercially available under Quid Pro Quo terms. Check 
 * out our website at http://gaiasoul.com for more details.
 */


/*
 * Root tree default CSS class.
 */
.tree-widget {
}

/*
 * Wrapper element for entire item, including its children UL elements.
 * Removing left padding for items as default value.
 */
.tree-widget li.tree-item {
    padding-left:0;
}

/*
 * Making sure only "second level items" are indendent.
 */
.tree-widget ul.tree-item-children > li.tree-item > ul.tree-item-children > li.tree-item {
    padding-left:16px;
}
.tree-widget ul.tree-item-children > li.tree-item > ul.tree-item-children > li.tree-expanded {
    background-position:0 -80px, 0 0;
    background-image:url(/system42/components/tree-widget/media/tree-1.png), url(/system42/components/tree-widget/media/tree-2.png);
    background-repeat:no-repeat, repeat-y;
}
.tree-widget ul.tree-item-children > li.tree-item > ul.tree-item-children > li.tree-expanded:last-child {
    background-position:0 0;
    background-image:url(/system42/components/tree-widget/media/tree-3.png);
    background-repeat:no-repeat;
}

/*
 * The label (hyperlink) for tree items.
 */
.tree-widget a.tree-item-label {
    padding-left:18px;
    background-image:url(/system42/components/tree-widget/media/tree-1.png);
    background-repeat:no-repeat;
    background-position:0 0;
    text-decoration:none;
    display:block;
    height:100%;
    line-height:19px;
}
.tree-widget a.tree-item-label:hover {
    background-color:rgba(0,0,0,.1);
}
.tree-widget ul.tree-item-children > li.tree-expanded > a.tree-item-label {
    padding-left:18px;
    background-image:url(/system42/components/tree-widget/media/tree-1.png);
    background-repeat:no-repeat;
    background-position:0 -20px;
    text-decoration:none;
}
@keyframes tree-item-animate-icon {
    0% {
        color:rgba(255,255,128,1);
    }
    100% {
        color:rgba(128,128,255,.5);
    }
}
.tree-widget a.tree-item-label .glyphicon {
    margin-right:5px;
    color:rgba(128,128,255,0);
    animation-name:tree-item-animate-icon;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
}

/*
 * Selected item class for label (hyperlink) of selected tree items.
 */
.tree-widget li.tree-item > a.tree-selected {
    background-color:rgba(128,255,128,.3);
}

/*
 * Expanded CSS class for label (hyperlink).
 */
.tree-widget li.tree-expanded > a.tree-item-label {
    background-position:0 -40px;
}

/*
 * Expanded CSS class for children li elements.
 */
.tree-widget li.tree-expanded > ul.tree-item-children > li.tree-item {
    background-position:0 -80px;
    background-image:url(/system42/components/tree-widget/media/tree-1.png);
    background-repeat:no-repeat;
}
.tree-widget li.tree-expanded > ul.tree-item-children > li.tree-item:last-child {
    background-position:0 -60px;
    background-image:url(/system42/components/tree-widget/media/tree-1.png);
}

/*
 * The children ul element of tree items.
 */
.tree-widget ul.tree-item-children {
    padding-left:0;
    list-style:none;
}
.tree-widget ul.tree-hidden {
    display:none;
}

/*
 * Animations for showing children items during expansion of children items.
 */
@keyframes tree-item-children-animation-child-li {
    0% {
        opacity:0;
        margin-left:-50px;
    }
    100% {
        opacity:1;
        margin-left:0;
    }
}
.tree-widget ul.tree-item-children-animate > li.tree-item {
    opacity:0;
    animation-name: tree-item-children-animation-child-li;
    animation-duration: .3s;
    animation-fill-mode:forwards;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(1) {
    animation-delay:.05s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(2) {
    animation-delay:.1s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(3) {
    animation-delay:.15s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(4) {
    animation-delay:.20s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(5) {
    animation-delay:.25s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(6) {
    animation-delay:.30s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(7) {
    animation-delay:.35s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(8) {
    animation-delay:.40s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(9) {
    animation-delay:.45s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(10) {
    animation-delay:.50s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(11) {
    animation-delay:.55s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(12) {
    animation-delay:.60s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(13) {
    animation-delay:.65s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(14) {
    animation-delay:.70s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(15) {
    animation-delay:.75s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(16) {
    animation-delay:.80s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(17) {
    animation-delay:.85s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(18) {
    animation-delay:.90s;
}
.tree-widget ul.tree-item-children-animate > li.tree-item:nth-child(19) {
    animation-delay:.95s;
}



