/*
 * Phosphorus Five, copyright 2014 - 2017, Thomas Hansen, thomas@gaiasoul.com
 * 
 * This file is part of Phosphorus Five.
 *
 * Phosphorus Five is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3, as published by
 * the Free Software Foundation.
 *
 *
 * Phosphorus Five is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Phosphorus Five.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * If you cannot for some reasons use the GPL license, Phosphorus
 * Five is also commercially available under Quid Pro Quo terms. Check 
 * out our website at http://gaiasoul.com for more details.
 */


/*
 * Helper to give some space before element begins
 */
.prepend-top {
    margin-top:15px;
}

/*
 * Helper to give some space after element is finished
 */
.prepend-bottom {
    margin-bottom:15px;
}


/*
 * Info feedback popdown dialog animations, and CSS class
 */
@keyframes animate-info-feedback {
    0% {
        opacity:0;
        margin-top:-100px;
        background:#00f0f0;
    }
    7% {
        opacity:1;
        margin-top:0;
    }
    10% {
        background:#f0f000;
    }
    20% {
        background:#f0f0f0;
    }
    80% {
        opacity:1;
        margin-top:0;
    }
    100% {
        opacity:0;
        margin-top:-500px;
    }
}

.info-window {
    background:#f0f0f0;
    max-width:300px;
    position:fixed;
    top:0px;
    right:50px;
    color:#9d9b97;
    padding:5px 25px 0 25px;
    border-radius:0 0 15px 15px;
    z-index:1020;
    animation-name:animate-info-feedback;
    animation-duration:3s;
    animation-fill-mode:forwards;
}

/*
 * Used when caller requests info window to stay "slightly longer", due 
 * to e.g. more text needing more time to read, etc.
 */
.info-window-longer {
    animation-duration: 6s;
}

/*
 * Used when user wants to display an "error" feedback message
 */
.info-window-error {
    color:#e55;
}

/*
 * Used when user wants to display a "warning" feedback message
 */
.info-window-warning {
    color:#ea5;
}

/*
 * CSS classes for login widgets
 */
#login-wrapper {
    position:absolute;
    top:10px;
    left:20px;
    z-index:2000;
}

@keyframes animate-login-widget {
    0% {
        margin-top:-50px;
        opacity:0;
    }
    100% {
        margin-top:0;
        opacity:1;
    }
}

.login-widget {
    animation-name:animate-login-widget;
    animation-duration:.5s;
    position:relative;
}


/*
 * Animation used to among other things, "fly in" login box, and other similar things
 */
@keyframes animate-flash-from-left {
    0% {
        margin-left:-4000px;
    }
    100% {
        margin-left:0px;
    }
}
.flash-from-left {
    animation-name:animate-flash-from-left;
    animation-duration:.5s;
    position:relative;
}


/*
 * Used to modify Bootstrap's default behavior, to have a guarantee of that input group
 * addons have at least a minimum amount of width.
 */
.input-group-addon {
    min-width:100px;
    text-align:left;
    text-transform:capitalize;
}


/*
 * Used among other things, when an error is supposed to be shown in wizard-window, and
 * similar places.
 */
.error {
    background-color:rgba(255,0,0,.1);
}
.error-text {
    color:rgb(200,0,0);
    background-color:rgba(255,255,0,.1);
    padding:10px;
    border-radius:5px;
    border:dashed 1px black;
    font-weight:bold;
}



/*
 * Helper classes to remove rounded corners of buttons, to have them appear as if
 * they are "attached" to other widgets.
 */
.btn-attach-top {
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-top-style:none;
}


/*
 * Styles for the [sys42.windows.modal] widget, and all widgets that indirectly uses this bugger.
 */
.modal-body {
    position:relative;
    overflow-y:hidden;
}


/*
 * Styles for the [sys42.windows.info-tip] widget, when inside of a "modal window" of some sort.
 */
.modal-body .info-window {
    border-radius:0 0 15px 15px;
    position:absolute;
    top:0;
    right:25px;
}


/*
 * Styles for the [sys42.windows.show-lambda] widget.
 */
.show-code-window {
    position:relative;
    margin-top:15px;
}


/*
 * Animations for exception window.
 */
@keyframes animation-exception-window {
    0% {
        opacity:0;
        background-color:rgb(255,255,255);
        margin-top:-1000px;
    }
    50% {
        background-color:rgb(255,0,0);
    }
    100% {
        opacity:1;
        background-color:rgb(255,255,255);
    }
}


/*
 * Styles for exception window.
 */
.p5-exception {
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    width:100%;
    height:100%;
    display:block;
    box-sizing:border-box;
    padding:50px;
    animation-name:animation-exception-window;
    animation-duration:.5s;
    animation-fill-mode:forwards;
    overflow:auto;
}


/*
 * Styles for header, inside of exception window.
 */
.p5-exception h1 {
    font-size:1.5em;
}


/*
 * Styles for stacktrace, inside of exception window.
 */
.p5-exception pre {
    background-color:#f0f0f0;
    padding:25px;
    border:solid 1px rgba(0,0,0,.2);
}


/*
 * Styles for button, inside of exception window.
 */
.p5-exception button {
    position:absolute;
    top:25px;
    right:25px;
}


/*
 * Diffuses an element on screen, unless it is hovered.
 */
.diffuse {
    transition:opacity ease-in .2s;
    opacity:.3;
}
.diffuse:hover {
    transition:opacity ease-in .2s;
    opacity:1;
}


/*
 * Fixer classes for widgets.
 */
.colorpicker-element span.input-group-addon:last-child,
.date span.input-group-addon:last-child {
    min-width:inherit;
}